source https://api.nuget.org/v3/index.json
group Main

	generate_load_scripts: true
	storage: none
	framework: netcoreapp3.1
	nuget Discord.Net 
	nuget FSharp.Core 
	nuget Microsoft.Extensions.Configuration 
	nuget Newtonsoft.Json